{% include 'header.html' %}

{% with messages= get_flashed_messages() %}

{% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
            {{message}}
        {% endfor %}
    </div>
{% endif %}

{% endwith %}

<form method="post" action="/store" enctype="multipart/form-data">

    <div class="card">
        <div class="card-header" style="text-align:center; font-size:25px">
            Ingresar proveedor
        </div>
        <div class="card-body" style="background-color:#D5C5F1;">
            <h5 class="card-title">Datos del proveedor</h5>
            <p class="card-text">
                <div class="form-group">
                    <label for="txtNombre">Nombre:</label>
                    <input id="txtNombre" class="form-control" type="text" name="txtNombre">
                </div>
                <br>
                <div class="form-group">
                    <label for="txtDescripcion">Descripción:</label>
                    <input id="txtDescripcion" class="form-control" type="text" name="txtDescripcion">
                </div>
                <br>
                <div class="form-group">
                    <label for="txtCorreo">Correo:</label>
                    <input id="txtCorreo" class="form-control" type="text" name="txtCorreo">
                </div>
                <br>
                <div class="form-group">
                    <label for="txtFoto">Foto:</label>
                    <input id="txtFoto" class="form-control" type="file" name="txtFoto">
                </div>
                <br>
                <div class="form-group" style="margin-left: 38%;">
                    <input type="submit" class="btn" style="background-color: #7D40E7; color:white; text-align: center;" value="Agregar">
                    <a href="{{url_for('index')}}" class="btn" style="background-color: #7D40E7; color:white; text-align: center;">Regresar</a>    
                </div>
                <br>
            </p>
        </div>
    </div>
    
    
</form>
{% include 'footer.html' %}