{% include 'header.html' %}

{% for proveedor in proveedores %}

<form method="post" action="/update" enctype="multipart/form-data">
    
    <div class="card">
        <div class="card-header" style="text-align:center; font-size:25px">
            Edición del proveedor
        </div>
        <div class="card-body" style="padding-left:30px;background-color:#D5C5F1;">
            <h4 class="card-title">Datos del proveedor:</h4>
            <p class="card-text">
                <input type="hidden" value="{{ proveedor[0] }}" name="txtID" id="txtID">
                <div class="form-group">
                    <label for="txtNombre">Nombre:</label>
                    <input id="txtNombre" value="{{ proveedor[1] }}" class:="form-control" type="text" name="txtNombre">
                </div>
                <br>
                <div class="form-group">
                    <label for="txtDescripcion">Descripción:</label>
                    <input id="txtDescripcion" value="{{ proveedor[2] }}" class:="form-control" type="text" name="txtDescripcion">
                </div>
                <br>
                <div class="form-group">
                    <label for="txtCorreo">Correo:</label>
                    <input id="txtCorreo" value="{{ proveedor[3] }}" class:="form-control" type="text" name="txtCorreo">
                </div>
                <br>

                <div class="form-group">
                    <label for="txtFoto">Foto:</label>
                    <img class="img-thumbnail" width="100" src="{{url_for('uploads', nombreFoto=proveedor[3])}}" alt="">
                    <input id="txtFoto" class="form-control" type="file" name="txtFoto">
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" class="btn" value="Agregar" style="background-color: #7D40E7; color:white; text-align: center;">
                    <a href="{{url_for('index')}}" class="btn" style="background-color: #7D40E7; color:white; text-align: center;">Regresar</a>    
                </div>
            </p>
        </div>
    </div>
    
    
</form>

{% endfor %}
{% include 'footer.html' %}